async-timeout==4.0.2
autopep8==1.6.0
certifi==2021.10.8
Deprecated==1.2.13
elastic-transport==8.1.2
elasticsearch==7.16.3
isort==5.10.1
packaging==21.3
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pyparsing==3.0.8
redis==4.2.2
toml==0.10.2
urllib3==1.26.9
wrapt==1.14.0
